.aboutusMain{
    display: flex;
    background-color: #F7F7F7;
    position: relative;
    .aboutimage{
        img{
            height: 100%;
            position: relative;
            z-index: 9;
        }
    }
    .aboutDescription{
        position: relative;
        .descriptioninner{
            padding: 100px 140px;
       
            h2{
                font-size: 40px;
                font-weight: bold;
                font-family: "Rubik", sans-serif;
                margin-bottom: 80px;
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 60px;
                    height: 5px;
                    background: #FFB400;
                    bottom: -40px;
                }
            }
            

            .textdetail{
                padding: 0 60px 0 0;
                span{
                    color: #666666;
                    font-size: 15px;
                    line-height: 35px;
                }
                .learnBtn{
                    border-radius: 0;
                    border: 4px solid #1F1F1F;
                    color: #1F1F1F;
                    width: 220px;
                    padding: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    margin-top: 70px;
                }
            }
        }
        
    }
    .aboutcontent{
        position: absolute;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        .years{
            background-color: #FFB400;
            width: 100%;
            color: #2A2A2A;
            text-align: center;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h4{
                padding-bottom: 5px;
                font-weight: bold;
                font-size: 36px;
            }
            span{
                font-weight: bold;
            }
        }
        .projects{
            background-color: #2A2A2A;
            width: 100%;
            color: #fff;
            text-align: center;
            padding: 30px 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h4{
                padding-bottom: 5px;
                font-weight: bold;
                font-size: 36px;
            }
            span{
                font-weight: bold;
            }
        }
    }
}