.freeQoute{
    padding: 60px 0;
    h2{
        font-size: 40px;
        font-family: "Rubik", sans-serif;
        font-weight: bold;
    }
    .qouteBtn{
        border-radius: 0;
        border: 4px solid #FFB400;
        color: #FFB400;
        width: 220px;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
    }
}