.heading{
    text-align: center;
    padding: 100px 0;
    position: relative;
    h2{
        font-weight: bold;
        font-size: 40px;
        font-family: "Rubik", sans-serif;
        position: relative;
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 100px;
        height: 5px;
        background: #FFB400;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
.project_listing{
    .projectimg{
        img{
            width: 100%;
        }
    }
    .projectdetail{
        padding: 25px 30px 5px;
        margin-top: 25px;
        border: 1px solid #666;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h4{
            font-size: 20px;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            color: #2A2A2A;
            padding-bottom: 20px;;
        }
        span{
           color: #666666;
           font-size: 18px;
            line-height: 40px;
        }
        .projectBtn{
            color: #666666;
            border: 2px solid #666666;
            border-radius: 0;
            margin: 50px 0 20px 0;
            padding: 8px 30px;
            font-size: 12px;
            font-weight: bold;
            font-family: 'Rubik', sans-serif;
        }
    }
}
.moreBtn{
    text-align: center;
    margin: 50px 0 20px;
    Button{
        color: #1F1F1F;
        border: 4px solid #1F1F1F;
        border-radius: 0;
        font-family: 'Rubik', sans-serif;
        padding: 10px 60px;
        font-weight: bold;
        font-size: 16px;
    }
}