.slider{
    display: flex;
    .imagemain{
        width: 75%;
        position: relative;
        img{
            width: 100%;
            height: 100%;
        }
        .sliderText{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            vertical-align: middle;
            max-width: 650px;
            left: 300px;
            h1{
                color: white;
                font-size: 64px;
                font-weight: bold;
                margin: 30px;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 10px;
                    height: 100px;
                    background: #FFB400;
                    margin: -30px;
                    top: 20px;
                }
            }
            h6{
                color: white;
                padding-top: 35px;
            }
            Button{
                background-color: #FFB400;
                padding: 15px;
                width: 250px;
                border-radius: 0;
                margin-top: 40px;
                font-size: 18px;
            }
        }
    }
    .leftside{
        background-color: #FFB400;
        width: 25%;
        h3{
            font-size: 36px;
            font-family: "Rubik", sans-serif;
            font-weight: 700;
            padding: 70px 50px 10px 10px;
        }
        .leftsideinner{
            padding: 0 30px;
            .services_listing{
                display: flex;
                padding:35px 20px;
                img{
                    width: 65px;
                }
                .servicedetail{
                    padding-left: 25px;
                    h4{
                        font-size: 20px;
                        font-weight: bold;
                        color: #2a2a2a;
                        font-family: 'Rubik', sans-serif;
                        padding-bottom: 10px;
                    }
                    span{
                        color: #fff;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
