.videoMain{
    display: flex;
    .videoLeft{
        width: 20%;
        background-color: #2A2A2A;
        padding: 70px 50px 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h3{
            color: #fff;
            font-size: 40px;
            font-family: "Rubik", sans-serif;
            font-weight: bold;
            line-height: 1.4;
            margin-bottom: 100px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 70px;
                height: 5px;
                background: #FFB400;
                bottom: -60px;
            }        
        }
        span{
            color: #fff;
            margin-top: 50px;
            line-height: 30px;
            font-size: 18px;
        }
        Button{
            color: #FFB400;
            border: 4px solid #FFB400;
            border-radius: 0;
            font-family: 'Rubik', sans-serif;
            padding: 10px 60px;
            font-weight: bold;
            font-size: 16px;
            margin-top: 50px;
        }
    }
    .videoRight{
        width: 80%;
        img{
            width: 100%;
        }
    }
}